div {
    font-family: 'Varela Round', sans-serif;
}
html body {
background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
}

h6.big {
	text-transform: uppercase;
	font-size: 18px;
}

h5.title {
text-transform: uppercase;
margin: 40px;
}

h4.title{
text-transform: uppercase;
margin: 0px 0px 25px 0px;	
}

p {
	font-family: 'Varela Round', sans-serif;
	
}


p.content {
	color: #454545;
	
}

a {
	color: #444;
}
a:hover {
	color: #999;
	text-decoration: none;
}

//
img {
  -webkit-filter: drop-shadow(2px 2px 2px #999 );
  filter: drop-shadow(2px 2px 2px #999);
}
